.slider {
    position: relative;
    max-width: 1200px;
    width: 100%;
  }
  
  
  .slider-wrapper {
    box-sizing: border-box;
    display: grid;    
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 1) - 23px);
    gap: 24px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
  }
  .slider-wrapper::-webkit-scrollbar{
    display: none;
  }
  
  .slider-wrapper.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .slider-slide{
    scroll-snap-align: start;
    cursor: pointer;
    height: 100%;
  }
  .slider-wrapper.dragging .slider-slide{
    cursor: grab;
    user-select: none;
    /* pointer-events: none; */
  }
  
  .slider-button-next,
  .slider-button-prev {
    position: absolute;
    top: -3.8em;
    z-index: 10;
    cursor: pointer;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--first-color);
    font-size: var(--tiny-font-size);
  
    &>svg {
      font-size: 1.3em;
    }
  }
  
  .slider-button-prev {
    left: initial;
    right: 2.5rem;
  }
  
  .slider-button-next {
    right: 0;
  }